@import "./variables";

.bgcolor {
  &__0 {
    background-color: transparent;
  }

  &__1 {
    background-color: #00b2ff;
  }

  &__2 {
    background-color: #ecf0ff;
  }

  &__3 {
    background-color: #efefef;
  }

  &__4 {
    background-color: #282828;
  }

  &__5 {
    background-color: #7b61ff;
  }

  &__6 {
    background-color: #e6ffe2;
  }

  &__7 {
    background-color: #3ac922;
  }

  &__8 {
    background-color: #ff7f37;
  }

  &__9 {
    background-color: #ff4545;
  }

  &__10 {
    background-color: #efd02c;
  }

  &__11 {
    background-color: #e5e5e5;
  }

  &__12 {
    background-color: #fff;
  }

  &__13 {
    background-color: #f8f8f8;
  }

  &__14 {
    background-color: #ECF0FF;
  }

  &__15 {
    background-color: #ededed;
  }

  &__16 {
    background-color: #1B4AF0;
  }

  &__17 {
    background-color: #8a8787;
  }

  &__18 {
    background-color: #d7d7d7;
  }

}