@import "./variables";

.bgcolor {
  &__1 {
    background-color: #00b2ff;
  }

  &__2 {
    background-color: #ecf0ff;
  }

  &__3 {
    background-color: #efefef;
  }

  &__4 {
    background-color: #282828;
  }

  &__5 {
    background-color: #7b61ff;
  }

  &__6 {
    background-color: #e6ffe2;
  }

  &__7 {
    background-color: #3ac922;
  }

  &__8 {
    background-color: #ff7f37;
  }

  &__9 {
    background-color: #ff4545;
  }

  &__10 {
    background-color: #efd02c;
  }

  &__11 {
    background-color: #e5e5e5;
  }
}