@import "./variables";

footer {
    margin-top: 40px;

    background-color: #EEEEEE;
    padding         : 80px 160px;

    @media screen and (max-width:1200px) {
        padding: 24px;

    }

    .intro {
        @media screen and (max-width:992px) {
            align-items: center;

        }

        .logo {
            width        : 78px;
            height       : 30px;
            object-fit   : contain;
            margin-bottom: 16px;
        }

        .footer-text {
            font-weight  : 400;
            font-size    : 16px;
            line-height  : 25px;
            width        : 300px;
            margin-bottom: 25px;
        }

        .social-media-links {
            display: flex;

            .link {
                margin-right: 12px;
                object-fit  : contain;
            }
        }

    }

    .quick-access-links {
        display  : flex;
        flex-wrap: wrap;

        justify-content: center;

        @media screen and (max-width:992px) {
            justify-content: space-between;
            margin-top     : 20px;

        }

        ul {
            font-size   : 16px;
            line-height : 26px;
            font-weight : 400;
            margin-right: 20px;

            li {
                margin-bottom: 12px;

                &.list-title {
                    font-weight: 700;
                }
            }
        }
    }
}