@import "./variables";

header {


    color: $white;

    // @media screen and (max-width:1200px) {
    //     padding: 24px;

    // }

    // @media screen and (max-width:468px) {
    //     padding: 24px 8px;

    // }

    button.recButton {
        @extend recButton;
        color           : $primaryBlue;
        background-color: $white;


    }

    .navbar {
        @include flexBetween;
        background-color: $primaryBlue;
        padding         : 24px 120px;


        .navbar-brand {
            display        : flex;
            align-items    : center;
            text-decoration: none;

            .logo {
                width     : 78px;
                height    : 30px;
                overflow  : visible;
                object-fit: contain;
            }

            .brand-name {
                margin: 0 14px 0px 14px;

                font-size     : 40px;
                font-weight   : 700;
                line-height   : 1.2;
                list-style    : none;
                letter-spacing: normal;
                text-align    : left;
                color         : $white;

                @media screen and (max-width:992px) {
                    display: none;
                }
            }
        }

        .right-nav {
            @include flexCenter(row);

            @media screen and (max-width:768px) {
                flex-direction: column-reverse;
                align-items   : flex-end;
            }

            .navbar-nav {
                @include flexBetween;
                flex-direction: row;
                margin        : 0 16px;
                color         : $white;

                @media screen and (max-width:768px) {
                    position    : absolute;
                    bottom      : -40px;
                    left        : -10px;
                    margin-right: 8px;
                }

                .nav-item {
                    font-size   : 18px;
                    font-weight : 500;
                    line-height : 24px;
                    margin-right: 24px;

                    .nav-link {
                        transition: ease-in-out 0.3s;
                        color     : $white;

                        &:hover {
                            font-size: 19px;
                        }

                        &.active {
                            font-size    : 19px;
                            border-bottom: 1px solid;
                        }
                    }
                }
            }
        }
    }





}

// responsive