@import "./variables";

header {
    position        : relative;
    padding         : 24px 120px;
    background-color: #52c3ff;
    color           : $white;

    @media screen and (max-width:1200px) {
        padding : 24px;
        position: relative;
    }

    @media screen and (max-width:468px) {
        padding : 24px 8px;
        position: relative;
    }

    button.recButton {
        @extend recButton;
        color           : $primaryBlue;
        background-color: $white;


    }

    .navbar {
        @include flexBetween;
        background-color: $primaryBlue;
        margin-bottom   : 40px;

        .navbar-brand {
            display        : flex;
            align-items    : center;
            text-decoration: none;

            .logo {
                width     : 78px;
                height    : 30px;
                overflow  : visible;
                object-fit: contain;
            }

            .brand-name {
                margin: 0 14px 0px 14px;

                font-size     : 40px;
                font-weight   : 700;
                line-height   : 1.2;
                list-style    : none;
                letter-spacing: normal;
                text-align    : left;
                color         : $white;

                @media screen and (max-width:992px) {
                    display: none;
                }
            }
        }

        .right-nav {
            @include flexCenter(row);

            @media screen and (max-width:768px) {
                flex-direction: column-reverse;
                align-items   : flex-end;
            }

            .navbar-nav {
                @include flexBetween;
                flex-direction: row;
                margin        : 0 16px;
                color         : $white;

                @media screen and (max-width:768px) {
                    position    : absolute;
                    bottom      : -40px;
                    left        : -10px;
                    margin-right: 8px;
                }

                .nav-item {
                    font-size   : 18px;
                    font-weight : 500;
                    line-height : 24px;
                    margin-right: 24px;

                    .nav-link {
                        transition: ease-in-out 0.3s;
                        color     : $white;

                        &:hover {
                            font-size: 19px;
                        }

                        &.active {
                            font-size    : 19px;
                            border-bottom: 1px solid;
                        }
                    }
                }
            }
        }
    }

    .main-header {



        .head-title {
            h1.head-title-text {
                font-size    : 56px;
                font-weight  : 700;
                line-height  : 62px;
                margin-bottom: 20px;

                @media screen and (max-width:1200px) {
                    font-size  : 40px;
                    line-height: 50px;
                }

                @media screen and (max-width:992px) {
                    font-size  : 32px;
                    line-height: 40px;
                }

                &.welcome {
                    font-size  : 56px;
                    font-weight: 700;
                    line-height: 62px;
                }
            }

            .head-title-underline {
                width     : 480px;
                height    : 34px;
                object-fit: contain;

                @media screen and (max-width:768px) {
                    width: 320px;

                }
            }
        }

        .head-subtitle {
            margin: 24px 0;

            p.head-subtitle-text {
                font-size  : 24px;
                font-weight: 600;
                line-height: 28px;

                @media screen and (max-width:992px) {
                    font-size  : 20px;
                    line-height: 28px;
                }

            }
        }

        .head-start-btn {
            margin: 20px 0;
        }

        .main-header-imageBox {
            height    : 400px;
            object-fit: contain;
            overflow  : hidden;

            @media screen and (max-width:992px) {
                height: auto;

            }
        }
    }

    .privacy-terms-img {
        width     : 280px;
        height    : 80px;
        object-fit: contain;
    }

    .signin-link {
        margin-top: 24px;

        a {
            transition: ease-in-out 0.5s;


        }
    }

    .signin-btn {
        width   : 180px;
        position: absolute;
        bottom  : -24px;
        left    : 30%;

        @media screen and (max-width:992px) {

            position     : unset;
            margin-top   : 30px;
            margin-bottom: 30px;

        }
    }




}

// responsive