@import "./variables";

main {
    .section-titles {
        h2 {
            font-size    : 56px;
            font-weight  : 700;
            line-height  : 62px;
            margin-bottom: 24px;

            @media screen and (max-width:992px) {
                font-size  : 32px;
                font-weight: 900;
                line-height: 40px;

            }
        }

    }

    .comment-sign {
        background-color: $secondaryBlack;
        position        : absolute;
        bottom          : 85%;
        left            : 5%;
        border-radius   : 50%;
        height          : 58px;
        width           : 58px;
        @include flexCenter(row);

        img {
            width: 48px !important
        }
    }

    .present-banner {
        @include flexBetween;
        background-color: $secondaryBlack;
        color           : $white;
        padding         : 50px 120px;

        @media screen and (max-width:1200px) {
            padding: 24px;

        }

        @media screen and (max-width:992px) {
            flex-direction: column;

        }

        @media screen and (max-width:768px) {
            flex-direction : column;
            justify-content: flex-start;
            align-items    : unset;

        }

        .banner-text {
            font-size  : 24px;
            line-height: 30px;
            font-weight: 700;

            @media screen and (max-width:1200px) {
                font-size    : 20px;
                line-height  : 30px;
                font-weight  : 500;
                margin-bottom: 20px;
            }
        }

        .banner-logo {

            width     : 200px;
            height    : 30px;
            object-fit: contain;
        }
    }

    .comment {
        background-color: $lightGray;
        width           : 408px;
        height          : 165px;
        padding         : 48px 10px 48px 48px;
        position        : relative;

        @media screen and (max-width:1200px) {
            width : auto;
            height: auto;
        }

        .text {
            font-weight  : 500;
            font-size    : 18px;
            line-height  : 24px;
            margin-bottom: 6px;
        }

        .user {
            font-weight: 700;
            font-size  : 18px;
            line-height: 24px;
        }
    }

    .service-intro {
        padding: 30px 120px;
        margin : 60px 0;

        @media screen and (max-width:1200px) {
            padding: 24px;

        }

        .comment {

            @media screen and (max-width:992px) {
                display: none;
            }
        }

        .service-intro-subtitle {
            font-size  : 24px;
            font-weight: 600;
            line-height: 28px;

            @media screen and (max-width:1200px) {
                font-size  : 20px;
                font-weight: 600;
                line-height: 28px;

            }
        }


        .features {
            margin-top: 60px;

            .feature-box {
                background-color: $lightGray;
                width           : 320px;
                height          : 405px;
                @include flexCenter(column);
                position: relative;
                padding : 30px;

                @media screen and (max-width:1200px) {
                    width  : auto;
                    padding: 10px;

                }

                @media screen and (max-width:992px) {
                    height : auto;
                    padding: 40px 10px;

                }

                .head-number {
                    position: absolute;
                    top     : 5px;
                    left    : 8px;
                }

                .details {
                    @include flexCenter(column);

                    .feature-icon {
                        width        : 72px;
                        height       : 72px;
                        object-fit   : contain;
                        margin-bottom: 12px;
                    }

                    .feature-text {
                        text-align: center;
                        margin-top: 12px;
                        min-height: 100px;

                        .title {
                            margin-bottom: 40px;
                            font-weight  : 800;
                            font-size    : 32px;
                            line-height  : 40px;

                            @media screen and (max-width:768px) {
                                margin-bottom: 14px;
                                font-weight  : 900;
                                font-size    : 28px;
                                line-height  : 30px;

                            }
                        }

                        .text {
                            font-weight: 700;
                            font-size  : 16px;
                            line-height: 20px;

                            @media screen and (max-width:768px) {
                                font-weight: 500;
                                font-size  : 14px;

                            }

                        }
                    }
                }
            }
        }
    }

    .testimonials {
        padding: 30px 120px;
        margin : 60px 0;

        @media screen and (max-width:1200px) {

            padding: 24px;

        }

        .testimonials-slider {
            margin-top: 60px;

            .owl-carousel {
                .item {
                    padding-top: 35px;
                }
            }
        }
    }

    .statistics-banner {
        height          : 228px;
        background-color: $secondaryBlack;
        display         : flex;
        align-items     : center;
        color           : #D9D9D9;
        padding         : 78px 120px;

        @media screen and (max-width:1200px) {
            padding: 24px;

        }

        @media screen and (max-width:768px) {
            flex-direction: column;
            height        : auto;
        }

        .statistics-title {

            font-weight : 500;
            font-size   : 18px;
            line-height : 24px;
            width       : 160px;
            margin-right: 20px;

            @media screen and (max-width:768px) {
                width        : auto;
                margin-bottom: 30px;
                margin-right : 0;
            }
        }

        .middle-line {
            width           : 1px;
            height          : 228px;
            background-color: $white;
            margin          : 0px 20px;

            @media screen and (max-width:768px) {
                display: none;

            }
        }

        .datas {
            @include flexCenter(row);
            width: -webkit-fill-available;

            @media screen and (max-width:680px) {
                flex-direction: column;

            }

            .statistics {
                padding: 0 50px;

                @media screen and (max-width:992px) {
                    padding: 0 30px;

                }

                @media screen and (max-width:768px) {
                    margin-bottom: 60px;

                }

                .title {
                    h3 {
                        font-size  : 56px;
                        line-height: 62px;
                        font-weight: 900;

                        @media screen and (max-width:992px) {
                            // font-size  : 48px;

                        }
                    }

                    margin-bottom: 10px
                }
            }

            .subtitle {
                @include flexCenter(row);
                align-items: self-end;

                img.icon {
                    width       : 28px;
                    height      : 28px;
                    margin-right: 6px;
                }

                p.text {
                    font-size  : 18px;
                    line-height: 24px;
                    font-weight: 500;
                }
            }
        }


    }

    .pricing {
        margin : 60px 0;
        padding: 30px 120px;

        @media screen and (max-width:1200px) {
            padding: 24px;

        }

        .pricing-boxes {
            margin-top: 0px;

            @include flexCenter(row);

            @media screen and (max-width:992px) {
                flex-direction: column
            }

            .price-box-title {
                @include flexCenter(row);
                justify-content: start;
                margin-bottom  : 20px;

                h2 {
                    font-weight: 800;
                    font-size  : 45px;
                    line-height: 60px;

                    &.faded-title {
                        opacity: 25%
                    }
                }
            }

            .price-box-subtitle {
                width      : 350px;
                font-size  : 16px;
                line-height: 26px;
                font-weight: 900;

                @media screen and (max-width:468px) {

                    width: auto
                }
            }

            .price-box-options {
                margin: 20px 0;

                ul {
                    padding: 0;

                    li {
                        display    : flex;
                        font-weight: 900;
                        font-size  : 16px;
                        line-height: 26px;

                        margin-bottom: 20px;

                        .list-square {


                            border-radius: 2px;
                            width        : 24px;
                            height       : 24px;
                            margin-right : 8px
                        }
                    }
                }
            }

            .try-btn {

                width : 93px;
                height: 48px;

                a {
                    padding: 12px 32px;
                    @include flexCenter(row);

                    width        : 100%;
                    height       : 100%;
                    border-radius: 8px;
                    font-size    : 18px;
                    font-weight  : 500;

                    &.blue {
                        background-color: $skyBlue;
                        color           : $white;
                    }

                    &.white {
                        color           : $skyBlue;
                        background-color: $white;
                    }
                }
            }

            .first-box {
                width           : 460px;
                height          : 460px;
                background-color: $white;
                color           : $secondaryBlack;
                padding         : 15px 60px;
                position        : relative;
                box-shadow      : 0px 100px 80px rgba(0, 0, 0, 0.07), 0px 41.7776px 33.4221px rgba(0, 0, 0, 0.0503198), 0px 22.3363px 17.869px rgba(0, 0, 0, 0.0417275), 0px 12.5216px 10.0172px rgba(0, 0, 0, 0.035), 0px 6.6501px 5.32008px rgba(0, 0, 0, 0.0282725), 0px 2.76726px 2.21381px rgba(0, 0, 0, 0.0196802);

                @media screen and (max-width:992px) {
                    margin-bottom: 60px;
                    width        : auto;
                    height       : auto;
                }

                @media screen and (max-width:468px) {

                    width  : 320px;
                    height : auto;
                    padding: 15px 15px;

                }

                .top-image {
                    width        : 42px;
                    height       : 42px;
                    margin-bottom: 70px
                }

                .list-square {

                    background: #396AFC;
                    background: linear-gradient(220deg, #396AFC 14%, #2948FF 116%);
                }

                .try-btn {
                    position: absolute;
                    left    : 230px;
                    bottom  : -25px;
                }

            }

            .second-box {
                width           : 640px;
                height          : 580px;
                background-color: $skyBlue;
                color           : $white;
                box-shadow      : 0px 4px 22px rgba(0, 0, 0, 0.25);
                padding         : 40px 80px;
                position        : relative;

                @media screen and (max-width:992px) {
                    position: unset;
                    width   : auto;
                    height  : auto;
                    padding : 15px 60px;

                }

                @media screen and (max-width:468px) {

                    width  : 320px;
                    height : auto;
                    padding: 15px 15px;

                }

                .shape-img {
                    position: absolute;
                    width   : 400px;
                    bottom  : 370px;
                    right   : -115px;

                    @media screen and (max-width:992px) {
                        display: none;

                    }

                }

                .top-image {
                    width        : 72px;
                    height       : 72px;
                    margin-bottom: 20px
                }

                .pro-btn {
                    width           : 141px;
                    height          : 45px;
                    background-color: $white;
                    color           : $skyBlue;
                    border-radius   : 2px;
                    margin-bottom   : 10px;
                    font-weight     : 500;
                    font-size       : 18px;

                    a {
                        width : 100%;
                        height: 100%;
                        @include flexCenter(row);

                        &:hover {
                            color: inherit
                        }
                    }
                }

                .list-square {

                    background: $white;
                }
            }
        }
    }


}