@import "./variables";

.typography {
  &__h1 {
    font-size  : 56px;
    line-height: 62px;
  }

  &__h2 {
    font-size  : 48px;
    line-height: 56px;
  }

  &__h3 {
    font-size  : 40px;
    line-height: 48px;
  }

  &__h4 {
    font-size  : 32px;
    line-height: 40px;
  }

  &__h5 {
    font-size  : 24px;
    line-height: 30px;
  }

  &__h6 {
    font-size  : 20px;
    line-height: 28px;
  }

  &__body {
    font-size  : 18px;
    line-height: 24px;
  }

  &__subtitle {
    font-size  : 16px;
    line-height: 20px;
  }

  &__caption {
    font-size  : 14px;
    line-height: 18px;
  }

  &__overline {
    font-size  : 12px;
    line-height: 16px;
  }

  &.color {
    &__1 {
      color: #ffffff;
    }

    &__2 {
      color: #00b2ff;
    }

    &__3 {
      color: #292c32;
    }
  }

  &.weight {
    &__400 {
      font-weight: 400;
    }

    &__500 {
      font-weight: 500;
    }

    &__bold {
      font-weight: 700;
    }

    &__extrabold {
      font-weight: 800;
    }

    &__maxbold {
      font-weight: 900;
    }
  }
}