$primaryBlue    : #52c3ff;
$secondaryColor : #5D3DFF;
$secondaryBlack :#282828;
$white          :#ffffff;
$lightGray      :#EDEDED;
$skyBlue        :#00B2FF;
$fosil          :#D7D7D7;
$elephant       :#c5c5c5;

hr {
    color  : $fosil;
    opacity: 100%;

}

@mixin flexCenter($direction) {
    display        : flex;
    align-items    : center;
    justify-content: center;
    flex-direction : $direction;

}

@mixin flexBetween {
    display        : flex;
    align-items    : center;
    justify-content: space-between;
}

recButton {
    width        : 160px;
    height       : 45px;
    border-radius: 8px;
    border       : none;
    font-size    : 18px;
    line-height  : 24px;
    cursor       : pointer;
    @include flexCenter(row);

    i {
        @include flexCenter(row);
        margin-right: 10px;
    }
}
.reverse-flex{
    @media screen and (max-width:992px) {
       flex-direction: column-reverse;
    
         }
}