hr {
  color: #D7D7D7;
  opacity: 100%;
}

recButton, header button.recButton {
  width: 160px;
  height: 48px;
  border-radius: 8px;
  border: none;
  font-size: 18px;
  line-height: 24px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

recButton i, header button.recButton i {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-right: 10px;
}

hr {
  color: #D7D7D7;
  opacity: 100%;
}

recButton, header button.recButton {
  width: 160px;
  height: 48px;
  border-radius: 8px;
  border: none;
  font-size: 18px;
  line-height: 24px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

recButton i, header button.recButton i {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-right: 10px;
}

header {
  padding: 30px 120px;
  background-color: #52c3ff;
  color: #ffffff;
}

header button.recButton {
  color: #52c3ff;
  background-color: #ffffff;
}

header .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #52c3ff;
  margin-bottom: 40px;
}

header .navbar .navbar-brand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
}

header .navbar .navbar-brand .logo {
  width: 80px;
  height: 32px;
  overflow: visible;
  -o-object-fit: contain;
     object-fit: contain;
}

header .navbar .navbar-brand .brand-name {
  margin: 0 14px 0px 14px;
  font-size: 40px;
  font-weight: 700;
  line-height: 1.2;
  list-style: none;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}

header .navbar .right-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

header .navbar .right-nav .navbar-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 0 16px;
  color: #ffffff;
}

header .navbar .right-nav .navbar-nav .nav-item {
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  margin-right: 24px;
}

header .navbar .right-nav .navbar-nav .nav-item .nav-link {
  -webkit-transition: ease-in-out 0.3s;
  transition: ease-in-out 0.3s;
  color: #ffffff;
}

header .navbar .right-nav .navbar-nav .nav-item .nav-link:hover {
  font-size: 19px;
}

header .navbar .right-nav .navbar-nav .nav-item .nav-link.active {
  font-size: 19px;
  border-bottom: 1px solid;
}

header .main-header .head-title h1.head-title-text {
  font-size: 56px;
  font-weight: 700;
  line-height: 62px;
  margin-bottom: 20px;
}

header .main-header .head-title .head-title-underline {
  width: 480px;
  height: 34px;
  -o-object-fit: contain;
     object-fit: contain;
}

header .main-header .head-subtitle {
  margin: 24px 0;
}

header .main-header .head-subtitle p.head-subtitle-text {
  font-size: 24px;
  font-weight: 600;
  line-height: 28px;
}

header .main-header .head-start-btn {
  margin: 20px 0;
}

header .main-header .main-header-imageBox {
  height: 400px;
  -o-object-fit: contain;
     object-fit: contain;
  overflow: hidden;
}

hr {
  color: #D7D7D7;
  opacity: 100%;
}

recButton, header button.recButton {
  width: 160px;
  height: 48px;
  border-radius: 8px;
  border: none;
  font-size: 18px;
  line-height: 24px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

recButton i, header button.recButton i {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-right: 10px;
}

.typography__h1 {
  font-size: 56px;
  line-height: 62px;
}

.typography__h2 {
  font-size: 48px;
  line-height: 56px;
}

.typography__h3 {
  font-size: 40px;
  line-height: 48px;
}

.typography__h4 {
  font-size: 32px;
  line-height: 40px;
}

.typography__h5 {
  font-size: 24px;
  line-height: 30px;
}

.typography__h6 {
  font-size: 20px;
  line-height: 28px;
}

.typography__body {
  font-size: 18px;
  line-height: 24px;
}

.typography__subtitle {
  font-size: 16px;
  line-height: 20px;
}

.typography__caption {
  font-size: 14px;
  line-height: 18px;
}

.typography__overline {
  font-size: 12px;
  line-height: 16px;
}

.typography.color__1 {
  color: #ffffff;
}

.typography.color__2 {
  color: #00b2ff;
}

.typography.color__3 {
  color: #292c32;
}

.typography.color__4 {
  color: #e1f6ff;
}

.typography.color__5 {
  color: #5c5c5c;
}

.typography.color__6 {
  color: #181818;
}

.typography.color__7 {
  color: #ff3030;
}

.typography.color__8 {
  color: #52c3ff;
}

.typography.color__9 {
  color: #747474;
}

.typography.color__10 {
  color: #7b61ff;
}

.typography.weight__400 {
  font-weight: 400;
}

.typography.weight__500 {
  font-weight: 500;
}

.typography.weight__bold {
  font-weight: 700;
}

.typography.weight__extrabold {
  font-weight: 800;
}

.typography.weight__maxbold {
  font-weight: 900;
}

.typography.weight__normbold {
  font-weight: bold;
}

hr {
  color: #D7D7D7;
  opacity: 100%;
}

recButton, header button.recButton {
  width: 160px;
  height: 48px;
  border-radius: 8px;
  border: none;
  font-size: 18px;
  line-height: 24px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

recButton i, header button.recButton i {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-right: 10px;
}

.bgcolor__0 {
  background-color: transparent;
}

.bgcolor__1 {
  background-color: #00b2ff;
}

.bgcolor__2 {
  background-color: #ecf0ff;
}

.bgcolor__3 {
  background-color: #efefef;
}

.bgcolor__4 {
  background-color: #282828;
}

.bgcolor__5 {
  background-color: #7b61ff;
}

.bgcolor__6 {
  background-color: #e6ffe2;
}

.bgcolor__7 {
  background-color: #3ac922;
}

.bgcolor__8 {
  background-color: #ff7f37;
}

.bgcolor__9 {
  background-color: #ff4545;
}

.bgcolor__10 {
  background-color: #efd02c;
}

.bgcolor__11 {
  background-color: #e5e5e5;
}

.bgcolor__12 {
  background-color: #fff;
}

.bgcolor__13 {
  background-color: #f8f8f8;
}

hr {
  color: #D7D7D7;
  opacity: 100%;
}

recButton, header button.recButton {
  width: 160px;
  height: 48px;
  border-radius: 8px;
  border: none;
  font-size: 18px;
  line-height: 24px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

recButton i, header button.recButton i {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-right: 10px;
}

.radius__1 {
  border-radius: 4px;
}

.radius__2 {
  border-radius: 8px;
}

.radius__3 {
  border-radius: 16px;
}

hr {
  color: #D7D7D7;
  opacity: 100%;
}

recButton, header button.recButton {
  width: 160px;
  height: 48px;
  border-radius: 8px;
  border: none;
  font-size: 18px;
  line-height: 24px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

recButton i, header button.recButton i {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-right: 10px;
}

.shadow__dropshadow--100 {
  -webkit-box-shadow: 0px 0px 10px rgba(132, 132, 132, 0.15);
          box-shadow: 0px 0px 10px rgba(132, 132, 132, 0.15);
}

.shadow__dropshadow--200 {
  -webkit-box-shadow: 0px 0px 20px rgba(132, 132, 132, 0.2);
          box-shadow: 0px 0px 20px rgba(132, 132, 132, 0.2);
}

.shadow__dropshadow--300 {
  -webkit-box-shadow: 0px 0px 30px rgba(132, 132, 132, 0.25);
          box-shadow: 0px 0px 30px rgba(132, 132, 132, 0.25);
}

.shadow__focus {
  -webkit-box-shadow: 0px 0px 0px 2px #000000;
          box-shadow: 0px 0px 0px 2px #000000;
}

.shadow__stroke {
  -webkit-box-shadow: 0px 0px 0px 2px #e8e8e8;
          box-shadow: 0px 0px 0px 2px #e8e8e8;
}

.shadow__focus_btn {
  -webkit-box-shadow: 0px 0px 0px 2px #000000;
          box-shadow: 0px 0px 0px 2px #000000;
}

.shadow__layer_blur {
  -webkit-filter: blur(4px);
          filter: blur(4px);
}

hr {
  color: #D7D7D7;
  opacity: 100%;
}

recButton, header button.recButton {
  width: 160px;
  height: 48px;
  border-radius: 8px;
  border: none;
  font-size: 18px;
  line-height: 24px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

recButton i, header button.recButton i {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-right: 10px;
}

.progressbar {
  width: 100%;
  height: 18px;
  background-color: #ededed;
  border-radius: 8px;
  overflow: hidden;
}

.progressbar span {
  background-color: #52c3ff;
  -webkit-transition: width 0.43s linear;
  transition: width 0.43s linear;
  display: block;
  height: 100%;
  width: 0;
}

hr {
  color: #D7D7D7;
  opacity: 100%;
}

recButton, header button.recButton {
  width: 160px;
  height: 48px;
  border-radius: 8px;
  border: none;
  font-size: 18px;
  line-height: 24px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

recButton i, header button.recButton i {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-right: 10px;
}

.form-input {
  width: 100%;
}

.form-input .input {
  border-radius: 8px;
  border: 1px solid #00B2FF;
  -webkit-transition: border 0.43s ease-in-out, background 0.43s ease-in-out;
  transition: border 0.43s ease-in-out, background 0.43s ease-in-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.form-input .input--icon {
  border-radius: 8px;
  background-color: #ededed;
  border: none;
  padding: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.form-input .input--icon__left {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.form-input .input--icon__right {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.form-input .input--icon i {
  color: #7c7b7b;
  font-size: 14px;
}

.form-input .input__password {
  color: #f00;
}

.form-input .input__password .input--icon {
  background-color: transparent;
}

.form-input .input__password__show i {
  color: #181818;
}

.form-input .input input {
  font-size: 14px;
  color: #181818;
  background-color: transparent;
  border: none;
  outline: none;
  padding: 16px;
  line-height: 1;
  width: 100%;
}

.form-input .input label {
  padding: 6px 16px;
}

.form-input .input label span {
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  color: #5c5c5c;
}

.form-input .input label input {
  padding: 0;
}

.form-input .input:hover, .form-input .input__hover {
  border: 1px solid #1b4af0;
}

.form-input .input:focus-within, .form-input .input__focus {
  background: #f8f8f8;
  border: 1px solid #ff7f37;
}

.form-input .input:focus-within .input--icon, .form-input .input__focus .input--icon {
  background-color: #ededed;
}

.form-input .input__disabled {
  background: #efefef;
  border: 1px solid #8a8a8a;
}

.form-input .input__disabled input {
  color: #8a8a8a;
}

.form-input .input__disabled .input--icon {
  background-color: #d7d7d7;
}

.form-input .input__error {
  background: #fff2f2;
  border: 1px solid #ff3030;
}

.form-input .input__error input {
  color: #5c5c5c;
}

.form-input .input__error .input--icon {
  background-color: #ffc0c0;
}

.form-input .input__error + .description {
  color: #ff3030;
}

.form-input .input__sucsessful {
  background: #e6ffe2;
  border: 1px solid #e6ffe2;
}

.form-input .input__sucsessful .input--icon {
  background-color: #b2ffa6;
}

.form-input .input__sucsessful .input--icon i {
  color: #3ac922;
}

.form-input .input__sucsessful label span {
  color: #3ac922;
}

.form-input .input_textarea {
  width: 100%;
}

.form-input .input_textarea label {
  padding: 4px;
}

.form-input .input_textarea label span {
  padding: 0 16px;
}

.form-input .input_textarea textarea {
  background-color: transparent;
  border: none;
  min-height: 100px;
  max-height: 450px;
  outline: none;
  padding: 6px 16px;
}

.form-input .description {
  color: #5c5c5c;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  padding: 4px;
}

.form-input .upload-input {
  width: 100%;
}

.form-input .upload-input .box {
  border-radius: 8px;
  overflow: hidden;
  border: 2px solid #52c3ff;
  width: 100%;
  padding-top: 100%;
  position: relative;
}

.form-input .upload-input .box .wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.form-input .upload-input .box .title {
  padding: 16px;
}

.form-input .upload-input .box .title span {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #181818;
  display: block;
}

.form-input .upload-input .box .title span i {
  color: #52c3ff;
  font-size: 16px;
  margin-bottom: 8px;
}

.form-input .upload-input .box input {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  cursor: pointer;
}

.form-input .upload-input .box .image {
  width: 100%;
  height: 100%;
  position: relative;
  display: none;
}

.form-input .upload-input .box .image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.form-input .upload-input .box .image .wrapper.fulfilled {
  display: none;
}

.form-input .upload-input .box .image .wrapper.error {
  display: none;
}

.form-input .upload-input .box .image .wrapper.loading {
  display: none;
}

.form-input .upload-input .description .loading,
.form-input .upload-input .description .fulfilled,
.form-input .upload-input .description .error {
  display: none;
}

.form-input .upload-input.loading .wrapper .text {
  display: none;
}

.form-input .upload-input.loading .image {
  display: block;
}

.form-input .upload-input.loading .image img {
  -webkit-filter: blur(4px);
          filter: blur(4px);
}

.form-input .upload-input.loading .image .wrapper.loading {
  display: block;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(24, 24, 24, 0.5)), to(rgba(24, 24, 24, 0.5)));
  background: linear-gradient(0deg, rgba(24, 24, 24, 0.5), rgba(24, 24, 24, 0.5));
}

.form-input .upload-input.loading .description .empty {
  display: none;
}

.form-input .upload-input.loading .description .loading {
  display: block;
}

.form-input .upload-input.fulfilled .wrapper .text {
  display: none;
}

.form-input .upload-input.fulfilled .image {
  display: block;
}

.form-input .upload-input.fulfilled .image .wrapper.fulfilled {
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(24, 24, 24, 0.5)), to(rgba(24, 24, 24, 0.5)));
  background: linear-gradient(0deg, rgba(24, 24, 24, 0.5), rgba(24, 24, 24, 0.5));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  opacity: 0;
  -webkit-transition: opacity 0.43s ease-in-out;
  transition: opacity 0.43s ease-in-out;
}

.form-input .upload-input.fulfilled .image:hover .wrapper.fulfilled {
  opacity: 1;
}

.form-input .upload-input.fulfilled .description .empty {
  display: none;
}

.form-input .upload-input.fulfilled .description .fulfilled {
  display: block;
}

.form-input .upload-input.error .wrapper .text {
  display: none;
}

.form-input .upload-input.error .image {
  display: block;
}

.form-input .upload-input.error .image img {
  -webkit-filter: blur(4px);
          filter: blur(4px);
}

.form-input .upload-input.error .image .wrapper.loading {
  display: block;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(24, 24, 24, 0.5)), to(rgba(24, 24, 24, 0.5)));
  background: linear-gradient(0deg, rgba(24, 24, 24, 0.5), rgba(24, 24, 24, 0.5));
}

.form-input .upload-input.error .image .wrapper.error {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.form-input .upload-input.error .description .empty {
  display: none;
}

.form-input .upload-input.error .description .error {
  display: block;
}

.form-input .dragdrop-input {
  border: 2px dashed #d7d7d7;
  padding: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  border-radius: 8px;
  min-height: 100%;
}

.form-input .dragdrop-input input {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

hr {
  color: #D7D7D7;
  opacity: 100%;
}

recButton, header button.recButton {
  width: 160px;
  height: 48px;
  border-radius: 8px;
  border: none;
  font-size: 18px;
  line-height: 24px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

recButton i, header button.recButton i {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-right: 10px;
}

main .section-titles h2 {
  font-size: 56px;
  font-weight: 700;
  line-height: 62px;
  margin-bottom: 24px;
}

main .comment-sign {
  background-color: #282828;
  position: absolute;
  bottom: 80%;
  left: 5%;
  border-radius: 50%;
  height: 58px;
  width: 58px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

main .comment-sign img {
  width: 48px !important;
}

main .present-banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #282828;
  color: #ffffff;
  padding: 40px 120px;
  margin-bottom: 40px;
}

main .present-banner .banner-text {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
}

main .present-banner .banner-logo {
  width: 200px;
  height: 30px;
  -o-object-fit: contain;
     object-fit: contain;
}

main .comment {
  background-color: #EDEDED;
  width: 408px;
  height: 165px;
  padding: 48px 10px 48px 48px;
  position: relative;
}

main .comment .text {
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 6px;
}

main .comment .user {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
}

main .service-intro {
  padding: 30px 120px;
  margin: 60px 0;
}

main .service-intro .service-intro-subtitle {
  font-size: 24px;
  font-weight: 600;
  line-height: 28px;
}

main .service-intro .features {
  margin-top: 60px;
}

main .service-intro .features .feature-box {
  background-color: #EDEDED;
  width: 320px;
  height: 405px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  padding: 30px;
}

main .service-intro .features .feature-box .head-number {
  position: absolute;
  top: 5px;
  left: 8px;
}

main .service-intro .features .feature-box .details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main .service-intro .features .feature-box .details .feature-icon {
  width: 72px;
  height: 72px;
  -o-object-fit: contain;
     object-fit: contain;
  margin-bottom: 12px;
}

main .service-intro .features .feature-box .details .feature-text {
  text-align: center;
  margin-top: 12px;
}

main .service-intro .features .feature-box .details .feature-text .title {
  margin-bottom: 40px;
  font-weight: 800;
  font-size: 32px;
  line-height: 40px;
}

main .service-intro .features .feature-box .details .feature-text .text {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}

main .testimonials {
  padding: 30px 120px;
  margin: 60px 0;
}

main .testimonials .testimonials-slider {
  margin-top: 60px;
}

main .testimonials .testimonials-slider .owl-carousel .item {
  padding-top: 35px;
}

main .statistics-banner {
  height: 228px;
  background-color: #282828;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #D9D9D9;
  padding: 78px 120px;
}

main .statistics-banner .statistics-title {
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  width: 160px;
  margin-right: 20px;
}

main .statistics-banner .middle-line {
  width: 1px;
  height: 228px;
  background-color: #ffffff;
  margin: 0px 20px;
}

main .statistics-banner .datas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: -webkit-fill-available;
}

main .statistics-banner .datas .statistics {
  padding: 0 50px;
}

main .statistics-banner .datas .statistics .title {
  margin-bottom: 10px;
}

main .statistics-banner .datas .statistics .title h3 {
  font-size: 56px;
  line-height: 62px;
  font-weight: 900;
}

main .statistics-banner .datas .subtitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: self-end;
      -ms-flex-align: self-end;
          align-items: self-end;
}

main .statistics-banner .datas .subtitle img.icon {
  width: 28px;
  height: 28px;
  margin-right: 6px;
}

main .statistics-banner .datas .subtitle p.text {
  font-size: 18px;
  line-height: 24px;
  font-weight: 500;
}

main .pricing {
  margin: 60px 0;
  padding: 30px 120px;
}

main .pricing .pricing-boxes {
  margin-top: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

main .pricing .pricing-boxes .price-box-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  margin-bottom: 20px;
}

main .pricing .pricing-boxes .price-box-title h2 {
  font-weight: 800;
  font-size: 45px;
  line-height: 60px;
}

main .pricing .pricing-boxes .price-box-title h2.faded-title {
  opacity: 25%;
}

main .pricing .pricing-boxes .price-box-subtitle {
  width: 350px;
  font-size: 16px;
  line-height: 26px;
  font-weight: 900;
}

main .pricing .pricing-boxes .price-box-options {
  margin: 20px 0;
}

main .pricing .pricing-boxes .price-box-options ul {
  padding: 0;
}

main .pricing .pricing-boxes .price-box-options ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 900;
  font-size: 16px;
  line-height: 26px;
  margin-bottom: 20px;
}

main .pricing .pricing-boxes .price-box-options ul li .list-square {
  border-radius: 2px;
  width: 24px;
  height: 24px;
  margin-right: 8px;
}

main .pricing .pricing-boxes .try-btn {
  width: 93px;
  height: 48px;
}

main .pricing .pricing-boxes .try-btn a {
  padding: 12px 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  font-size: 18px;
  font-weight: 500;
}

main .pricing .pricing-boxes .try-btn a.blue {
  background-color: #00B2FF;
  color: #ffffff;
}

main .pricing .pricing-boxes .try-btn a.white {
  color: #00B2FF;
  background-color: #ffffff;
}

main .pricing .pricing-boxes .first-box {
  width: 460px;
  height: 460px;
  background-color: #ffffff;
  color: #282828;
  padding: 15px 60px;
  position: relative;
  -webkit-box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.07), 0px 41.7776px 33.4221px rgba(0, 0, 0, 0.0503198), 0px 22.3363px 17.869px rgba(0, 0, 0, 0.0417275), 0px 12.5216px 10.0172px rgba(0, 0, 0, 0.035), 0px 6.6501px 5.32008px rgba(0, 0, 0, 0.0282725), 0px 2.76726px 2.21381px rgba(0, 0, 0, 0.0196802);
          box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.07), 0px 41.7776px 33.4221px rgba(0, 0, 0, 0.0503198), 0px 22.3363px 17.869px rgba(0, 0, 0, 0.0417275), 0px 12.5216px 10.0172px rgba(0, 0, 0, 0.035), 0px 6.6501px 5.32008px rgba(0, 0, 0, 0.0282725), 0px 2.76726px 2.21381px rgba(0, 0, 0, 0.0196802);
}

main .pricing .pricing-boxes .first-box .top-image {
  width: 42px;
  height: 42px;
  margin-bottom: 70px;
}

main .pricing .pricing-boxes .first-box .list-square {
  background: #396AFC;
  background: linear-gradient(220deg, #396AFC 14%, #2948FF 116%);
}

main .pricing .pricing-boxes .first-box .try-btn {
  position: absolute;
  left: 230px;
  bottom: -25px;
}

main .pricing .pricing-boxes .second-box {
  width: 640px;
  height: 580px;
  background-color: #00B2FF;
  color: #ffffff;
  -webkit-box-shadow: 0px 4px 22px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 22px rgba(0, 0, 0, 0.25);
  padding: 40px 80px;
  position: relative;
}

main .pricing .pricing-boxes .second-box .shape-img {
  position: absolute;
  width: 486px;
  bottom: 300px;
  right: -115px;
}

main .pricing .pricing-boxes .second-box .top-image {
  width: 72px;
  height: 72px;
  margin-bottom: 20px;
}

main .pricing .pricing-boxes .second-box .pro-btn {
  width: 141px;
  height: 45px;
  background-color: #ffffff;
  color: #00B2FF;
  border-radius: 2px;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 18px;
}

main .pricing .pricing-boxes .second-box .pro-btn a {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

main .pricing .pricing-boxes .second-box .pro-btn a:hover {
  color: inherit;
}

main .pricing .pricing-boxes .second-box .list-square {
  background: #ffffff;
}

hr {
  color: #D7D7D7;
  opacity: 100%;
}

recButton, header button.recButton {
  width: 160px;
  height: 48px;
  border-radius: 8px;
  border: none;
  font-size: 18px;
  line-height: 24px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

recButton i, header button.recButton i {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-right: 10px;
}

footer {
  margin-top: 20px;
  background-color: #EEEEEE;
  padding: 80px 160px;
}

footer .logo {
  width: 78px;
  height: 30px;
  -o-object-fit: contain;
     object-fit: contain;
  margin-bottom: 16px;
}

footer .footer-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  width: 300px;
  margin-bottom: 25px;
}

footer .social-media-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .social-media-links .link {
  width: 40px;
  height: 40px;
  -o-object-fit: contain;
     object-fit: contain;
}

footer .quick-access-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .quick-access-links ul {
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  margin-right: 20px;
}

footer .quick-access-links ul li {
  margin-bottom: 12px;
}

footer .quick-access-links ul li.list-title {
  font-weight: 700;
}

hr {
  color: #D7D7D7;
  opacity: 100%;
}

recButton, header button.recButton {
  width: 160px;
  height: 48px;
  border-radius: 8px;
  border: none;
  font-size: 18px;
  line-height: 24px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

recButton i, header button.recButton i {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-right: 10px;
}

.panel {
  height: 100%;
}

.panel .menu-left {
  height: 100%;
  width: 200px;
  background-color: #282828;
  padding: 38px 18px;
  position: fixed;
  left: 0;
  top: 0;
}

.panel .menu-left .nav {
  display: block;
}

.panel .menu-left .nav ul li {
  margin: 20px 0;
  border-radius: 4px;
  padding: 10px;
  height: 42px;
}

.panel .menu-left .nav ul li:first-child {
  margin-top: 0;
}

.panel .menu-left .nav ul li:last-child {
  margin-bottom: 0;
}

.panel .menu-left .nav ul li a {
  display: block;
  font-size: 12px;
  color: #fff;
  text-transform: capitalize;
  font-weight: 700;
}

.panel .menu-left .nav ul li a img {
  width: 24px;
  height: 24px;
  -o-object-fit: contain;
     object-fit: contain;
  margin-right: 14px;
}

.panel .menu-left .nav ul li.active {
  background-color: #5d3dff;
}

.panel .content {
  padding-left: 200px;
}

.profile-details button.btn {
  width: 45px;
  height: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.profile-details button.btn img {
  width: 24px !important;
  height: 24px;
}

.profile-details .avatar {
  border-radius: 50%;
  width: 56px;
  height: 56px;
  overflow: hidden;
  border: hidden;
  background-color: inherit;
}

.profile-details .avatar a {
  display: block;
}

.profile-details .avatar a img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.content {
  height: 100%;
}

.content .row.content-divider {
  height: 100%;
}

.content .activity-bar {
  height: 100%;
}

.content .activity-bar .activity-item {
  border-bottom: 1px solid #D7D7D7;
}

.content .activity-bar .activity-item .single-activity p {
  margin-bottom: 12px;
}

.content .activity-bar .activity-item .single-activity p span.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 4px;
  background-color: #c5c5c5;
  color: #c5c5c5;
  display: inline-block;
}

.content .activity-bar .activity-item .activity-icon {
  border-radius: 15px 0px 0px 0px;
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 95px;
  height: 85px;
  border-right: 1px solid #e5e5e5;
}
div {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

html {
  font-size: 14px;
  scroll-behavior: smooth;
}

i {
  display: inline-block;
  font-size: 1em;
}

a {
  text-decoration: none;
  color: inherit;
  list-style: none;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: Mulish, sans-serif, serif;
  font-style: normal;
}

html {
  height: 100%;
}

.panel {
  height: 100%;
}

.panel .menu-left {
  height: 100%;
  width: 200px;
  background-color: #282828;
  padding: 38px 18px;
  position: fixed;
  left: 0;
  top: 0;
}

.panel .menu-left .nav {
  display: block;
}

.panel .menu-left .nav ul li {
  margin: 20px 0;
  border-radius: 4px;
  padding: 10px;
}

.panel .menu-left .nav ul li:first-child {
  margin-top: 0;
}

.panel .menu-left .nav ul li:last-child {
  margin-bottom: 0;
}

.panel .menu-left .nav ul li a {
  display: block;
  font-size: 14px;
  color: #fff;
  text-transform: capitalize;
  font-weight: 700;
}

.panel .menu-left .nav ul li a i {
  font-size: 24px;
  padding-right: 18px;
}

.panel .menu-left .nav ul li.active {
  background-color: #5D3DFF;
}

.panel .content {
  padding-left: 200px;
}

.avatar {
  border-radius: 50%;
  width: 56px;
  height: 56px;
  overflow: hidden;
  background-color: inherit;
}

.avatar a {
  display: block;
}

.avatar a img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.banner1 {
  -webkit-box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.07), 0px 41.7776px 33.4221px rgba(0, 0, 0, 0.0503198), 0px 22.3363px 17.869px rgba(0, 0, 0, 0.0417275), 0px 12.5216px 10.0172px rgba(0, 0, 0, 0.035), 0px 6.6501px 5.32008px rgba(0, 0, 0, 0.0282725), 0px 2.76726px 2.21381px rgba(0, 0, 0, 0.0196802);
          box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.07), 0px 41.7776px 33.4221px rgba(0, 0, 0, 0.0503198), 0px 22.3363px 17.869px rgba(0, 0, 0, 0.0417275), 0px 12.5216px 10.0172px rgba(0, 0, 0, 0.035), 0px 6.6501px 5.32008px rgba(0, 0, 0, 0.0282725), 0px 2.76726px 2.21381px rgba(0, 0, 0, 0.0196802);
}

.large-btn {
  height: 48px;
}

.large-tabs {
  height: 36px;
}

.large-tabs.selected {
  background-color: #00B2FF;
  color: #ffffff;
}

.documents-box {
  position: relative;
  -webkit-transition: ease-in-out 0.34s;
  transition: ease-in-out 0.34s;
}

.documents-box:hover {
  border-color: #00B2FF !important;
  color: #00B2FF !important;
}

.documents-box .documents-box-info-icon {
  position: absolute;
  top: -10px;
  right: -10px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
}

.eticket {
  width: 60px;
  height: 22px;
}
/*# sourceMappingURL=styles.css.map */