@import "./variables";
@import "./header";
@import "./typography";
@import "./bgcolor";
@import "./radius";
@import "./main";
@import "./footer";
@import "./panel";

div {
  margin : 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin : 0;
  padding: 0;
}

img {
  max-width: 100%;
}

html {
  font-size      : 14px;
  scroll-behavior: smooth;
}

i {
  display  : inline-block;
  font-size: 1em;
}

a {
  text-decoration: none;
  color          : inherit;
  list-style     : none;
}

ul,
li {
  list-style: none;
  margin    : 0;
  padding   : 0;
}

body {
  margin     : 0;
  font-family: Mulish, sans-serif, serif;
  font-style : normal;
}

// button {
//   @extend recButton;
// }

html {
  height: 100%;
}

.panel {
  $space-menu: 200px;
  height     : 100%;

  .menu-left {
    height          : 100%;
    width           : $space-menu;
    background-color: $secondaryBlack;
    padding         : 38px 18px;
    position        : fixed;
    left            : 0;
    top             : 0;

    .nav {
      display: block;

      ul {
        li {
          margin       : 20px 0;
          border-radius: 4px;
          padding      : 10px;

          &:first-child {
            margin-top: 0;
          }

          &:last-child {
            margin-bottom: 0;
          }

          a {
            display       : block;
            font-size     : 14px;
            color         : #fff;
            text-transform: capitalize;
            font-weight   : 700;

            i {
              font-size    : 24px;
              padding-right: 18px;
            }
          }

          &.active {
            background-color: $secondaryColor;
          }
        }
      }
    }
  }

  .content {
    padding-left: $space-menu;
  }
}

.avatar {
  border-radius   : 50%;
  width           : 56px;
  height          : 56px;
  overflow        : hidden;
  background-color: $secondaryBlack;

  a {
    display: block;

    img {
      width     : 100%;
      height    : 100%;
      object-fit: cover;
    }
  }
}