<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Unitilium - form</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <link href="../styles/bootstrap.css" rel="stylesheet" />
    <link href="../styles/fonts.css" rel="stylesheet" />
    <link href="../styles/styles.css" rel="stylesheet" />
  </head>

  <body>
    <div class="container-xxl my-3">
      <div class="row">
        <div class="col text-center">:default</div>
        <div class="col text-center">:hover</div>
        <div class="col text-center">:click</div>
        <div class="col text-center">:focus</div>
        <div class="col text-center">:disabled</div>
      </div>
      <div class="row py-3">
        <div class="col text-center">
          <div class="form-input">
            <label class="checkbox">
              <input type="checkbox" name="" value="" />
              <span><i class="icon icon-ckeck">icon</i></span>
            </label>
          </div>
        </div>
        <div class="col text-center">
          <div class="form-input">
            <label class="checkbox hover">
              <input type="checkbox" name="" value="" />
              <span><i class="icon icon-ckeck">icon</i></span>
            </label>
          </div>
        </div>
        <div class="col text-center">
          <div class="form-input">
            <label class="checkbox focus">
              <input type="checkbox" name="" value="" />
              <span><i class="icon icon-ckeck">icon</i></span>
            </label>
          </div>
        </div>
        <div class="col text-center">
          <div class="form-input">
            <label class="checkbox focus">
              <input type="checkbox" name="" value="" />
              <span><i class="icon icon-ckeck">icon</i></span>
            </label>
          </div>
        </div>
        <div class="col text-center">
          <div class="form-input">
            <label class="checkbox disabled">
              <input type="checkbox" name="" value="" disabled />
              <span><i class="icon icon-ckeck">icon</i></span>
            </label>
          </div>
        </div>
      </div>
      <div class="row py-3">
        <div class="col text-center">
          <div class="form-input">
            <label class="checkbox checked">
              <input type="checkbox" name="" value="" checked />
              <span><i class="icon icon-ckeck">icon</i></span>
            </label>
          </div>
        </div>
        <div class="col text-center">
          <div class="form-input">
            <label class="checkbox hover checked">
              <input type="checkbox" name="" value="" checked />
              <span><i class="icon icon-ckeck">icon</i></span>
            </label>
          </div>
        </div>
        <div class="col text-center">
          <div class="form-input">
            <label class="checkbox focus checked">
              <input type="checkbox" name="" value="" checked />
              <span><i class="icon icon-ckeck">icon</i></span>
            </label>
          </div>
        </div>
        <div class="col text-center">
          <div class="form-input">
            <label class="checkbox focus checked">
              <input type="checkbox" name="" value="" checked />
              <span><i class="icon icon-ckeck">icon</i></span>
            </label>
          </div>
        </div>
        <div class="col text-center">
          <div class="form-input">
            <label class="checkbox disabled checked">
              <input type="checkbox" name="" value="" disabled checked />
              <span><i class="icon icon-ckeck">icon</i></span>
            </label>
          </div>
        </div>
      </div>
      <div class="row py-3">
        <div class="col text-center">
          <div class="form-input">
            <label class="radio">
              <input type="radio" name="" value="" />
              <span></span>
            </label>
          </div>
        </div>
        <div class="col text-center">
          <div class="form-input">
            <label class="radio hover">
              <input type="radio" name="" value="" />
              <span></span>
            </label>
          </div>
        </div>
        <div class="col text-center">
          <div class="form-input">
            <label class="radio focus">
              <input type="radio" name="" value="" />
              <span></span>
            </label>
          </div>
        </div>
        <div class="col text-center">
          <div class="form-input">
            <label class="radio focus">
              <input type="radio" name="" value="" />
              <span></span>
            </label>
          </div>
        </div>
        <div class="col text-center">
          <div class="form-input">
            <label class="radio disabled">
              <input type="radio" name="" value="" disabled />
              <span></span>
            </label>
          </div>
        </div>
      </div>
      <div class="row py-3">
        <div class="col text-center">
          <div class="form-input">
            <label class="radio checked">
              <input type="radio" name="" value="" checked />
              <span></span>
            </label>
          </div>
        </div>
        <div class="col text-center">
          <div class="form-input">
            <label class="radio hover checked">
              <input type="radio" name="" value="" checked />
              <span></span>
            </label>
          </div>
        </div>
        <div class="col text-center">
          <div class="form-input">
            <label class="radio focus checked">
              <input type="radio" name="" value="" checked />
              <span></span>
            </label>
          </div>
        </div>
        <div class="col text-center">
          <div class="form-input">
            <label class="radio focus checked">
              <input type="radio" name="" value="" checked />
              <span></span>
            </label>
          </div>
        </div>
        <div class="col text-center">
          <div class="form-input">
            <label class="radio disabled checked">
              <input type="radio" name="" value="" disabled checked />
              <span></span>
            </label>
          </div>
        </div>
      </div>
      <div class="row my-5">
        <div class="col-12">
          <div class="form-input">
            <label class="switch-checbox">
              <input type="checkbox" />
              <span class="toggle_background">
                <div class="circle-icon"></div>
                <div class="vertical_line"></div>
              </span>
            </label>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
