<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Unitilium - form</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <link href="../styles/bootstrap.css" rel="stylesheet" />
    <link href="../styles/fonts.css" rel="stylesheet" />
    <link href="../styles/styles.css" rel="stylesheet" />

    <script src="../js/tinymce.min.js" referrerpolicy="origin"></script>

    <script>
      tinymce.init({
        selector: "#mytextarea",
        menubar: false,
        plugins: "link image table",
        contextmenu: "link image table",
        toolbar: [
          { name: "history", items: ["undo", "redo"] },
          { name: "styles", items: ["styles"] },
          { name: "formatting", items: ["bold", "italic"] },
          { name: "alignment", items: ["alignleft", "aligncenter", "alignright", "alignjustify"] },
          { name: "indentation", items: ["outdent", "indent"] },
          { name: "indentation", items: ["link", "image"] },
        ],
      });
    </script>
  </head>

  <body>
    <div class="container-xxl my-3">
      <div class="row">
        <div class="col-12 my-5">
          <div class="multi_avatar">
            <div class="avatar">
              <img src="../images/avatar.svg" alt="avatar" />
            </div>
            <div class="avatar">
              <img src="../images/avatar.svg" alt="avatar" />
            </div>
            <div class="avatar">
              <img src="../images/avatar.svg" alt="avatar" />
            </div>
            <div class="avatar">
              <img src="../images/avatar.svg" alt="avatar" />
            </div>
            <div class="avatar">
              <span><i class="icon icon-plus">plus</i></span>
            </div>
          </div>
        </div>
        <div class="col-12 my-5">
          <div class="multi_avatar multi_avatar__md">
            <div class="avatar">
              <img src="../images/avatar.svg" alt="avatar" />
            </div>
            <div class="avatar">
              <img src="../images/avatar.svg" alt="avatar" />
            </div>
            <div class="avatar">
              <img src="../images/avatar.svg" alt="avatar" />
            </div>
            <div class="avatar">
              <img src="../images/avatar.svg" alt="avatar" />
            </div>
            <div class="avatar">
              <span><i class="icon icon-plus">plus</i></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
